
<div class="mx-auto d-flex justify-content-center" style="max-width: 600px;">
    <form class="text-center mx-5" style="width: 100%;">
        <input name="username" class="form-control" placeholder="Korisnicko ime" [(ngModel)]="username">
        <input name="password" class="form-control" placeholder="Lozinka" [(ngModel)]="password">
        <select name="type" [(ngModel)]="type" class="form-control select">
            <option disabled selected class="select-placeholder">Tip studija</option>
            <option value='student'>Student</option>
            <option value='zaposleni'>Zaposleni</option>
            <option value='administrator'>Administrator</option>
        </select>
        <button class="btn btn-secondary mt-3" (click)="login()">Prijavi se</button>
    </form>
</div>
<div class="text-danger text-center" *ngFor="let e of error" >
    {{ e }}
</div>