<div class="mx-auto d-flex justify-content-center" style="max-width: 600px;" *ngIf="subjects">
    <table class="table table-white text-center">
        <thead>
            <tr>
                <th>Sifra predmeta</th>
                <th>Naziv predmeta</th>
                <th>
                    <button (click)="addSubject()" type="button" class="btn btn-outline-success mx-2">
                        <i class="fas fa-plus"></i>
                    </button>
                </th>      
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of subjects">
                <td>{{s.code}}</td>
                <td>{{s.title}}</td>
                <td>
                    <button (click)="editSubject(s)" type="button" class="btn btn-outline-primary mx-2">
                        <i class="fas fa-edit"></i>
                    </button>

                    <button (click)="deleteSubject(s)" type="button" class="btn btn-outline-danger mx-2">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>