<h3 class="my-4 text-center">
    Kontakt informacije
</h3>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <table class="table table-white text-center">
            <tr>
                <td><b>Zadužena osoba</b></td>
                <td>
                    dr Nenad Korolija
                </td>
            </tr>
            <tr>
                <td><b>Kabinet</b></td>
                <td>
                    Paviljon, 26
                </td>
            </tr>
            <tr>
                <td><b>Telefon</b></td>
                <td>
                    +381 11 3218389
                </td>
            </tr>
            <tr>
                <td><b>Email</b></td>
                <td>
                    <a class="alert-link" href="mailto:nenadko@etf.rs">nenadko@etf.rs</a>
                </td>
            </tr>
        </table>
    </div>
</div>