<h3 class="my-4 text-center">
    Kontakt informacije
</h3>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <table class="table table-white text-center">
            <tr>
                <td><b>Zadužena osoba</b></td>
                <td>
                    dr Nenad Korolija
                </td>
            </tr>
            <tr>
                <td><b>Kabinet</b></td>
                <td>
                    Paviljon, 26
                </td>
            </tr>
            <tr>
                <td><b>Telefon</b></td>
                <td>
                    +381 11 3218389
                </td>
            </tr>
            <tr>
                <td><b>Email</b></td>
                <td>
                    <a class="alert-link" href="mailto:nenadko@etf.rs">nenadko@etf.rs</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<p>
    <iframe allowfullscreen="" frameborder="0" height="450"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.7735764420236!2d20.474245515992596!3d44.805802885152495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7a9f59af917f%3A0xf9b50e9f0114cb72!2z0JXQu9C10LrRgtGA0L7RgtC10YXQvdC40YfQutC4INGE0LDQutGD0LvRgtC10YIsIDczLCDQkdC10L7Qs9GA0LDQtA!5e0!3m2!1ssr!2srs!4v1512649449738"
        style="border:0" width="100%">
    </iframe>
</p>