<h3 class="my-4 text-center">
    Master studije
</h3>
<div class="my-4 container">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Master akademske studije na Elektrotehničkom fakultetu Univerziteta u Beogradu traju dva semestra i nose 60 ESPB bodova. Ukupan broj bodova potreban za sticanje akademskog naziva master inženjer  je 300 ESPB, pa se na ove studije mogu upisati samo kandidati koji su na osnovnim akademskim studijama stekli 240 ESPB i to na Elektrotehničkom ili nekom drugom srodnom fakultetu.
    Po završetku master akademskih studija na Elektrotehničkom fakultetu u Beogradu, na studijskom programu Elektrotehnika i računarstvo stiče se akademski naziv master inženjer elektrotehnike i računarstva.
</div>
<div class="container text-center">
    <h4 class="my-3">Semestar 1:</h4>
    <div *ngFor="let s of subjects">
        <button class="btn btn-white btn-sm" *ngIf='s.semestar == 1' (click)='openSubject(s)'>{{ s.title }} - {{ s.code }}</button>
    </div>
    <hr>
    <h4 class="my-3">Semestar 2:</h4>
    <div *ngFor="let s of subjects">
        <button class="btn btn-white btn-sm" *ngIf='s.semestar == 2' (click)='openSubject(s)'>{{ s.title }} - {{ s.code }}</button>
    </div>
</div>