<div class="card-body mx-auto">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="obavestenja-tab" data-toggle="tab" href="#obavestenja" role="tab" aria-controls="obavestenja" aria-selected="true">Obavestenja o predmetu</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" id="informacije-tab" data-toggle="tab" href="#informacije" role="tab" aria-controls="informacije" aria-selected="false">Informacije o predmetu</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" id="predavanja-tab" data-toggle="tab" href="#predavanja" role="tab" aria-controls="predavanja" aria-selected="false">Materijali sa predavanja</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" id="vezbe-tab" data-toggle="tab" href="#vezbe" role="tab" aria-controls="vezbe" aria-selected="false">Materijali sa vezbi</a>
        </li>
        <li class="nav-item" *ngIf="!subject.examMaterials.hidden">
            <a class="nav-link" id="ispit-tab" data-toggle="tab" href="#ispit" role="tab" aria-controls="ispit" aria-selected="false">Materijali sa ispitnih rokova</a>
        </li>
        <li class="nav-item" *ngIf="!subject.lab.hidden">
            <a class="nav-link" id="lab-tab" data-toggle="tab" href="#lab" role="tab" aria-controls="lab" aria-selected="false">Laboratorijske vezbe</a>
        </li>
        <li class="nav-item" *ngIf="!subject.project.hidden">
            <a class="nav-link" id="projekat-tab" data-toggle="tab" href="#projekat" role="tab" aria-controls="projekat" aria-selected="false">Projekat</a>
        </li>
        <li class="nav-item" *ngIf="student != null">
            <a class="nav-link" id="spiskovi-tab" data-toggle="tab" href="#spiskovi" role="tab" aria-controls="spiskovi" aria-selected="false">Spiskovi</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="obavestenja" role="tabpanel" aria-labelledby="obavestenja-tab">
            <div class="row card-row" *ngIf="subject.notifications">
                <div class="col-md-12" *ngFor="let n of subject.notifications">
                    <div class="card" [class.grayBackgroud]="!inLastWeek(n.dateCreation)">
                        <div class="card-body" (click)="open(emp)">
                            <h6 class="card-title">{{ n.title }}</h6>
                            <p [innerHTML]="n.content"></p>
                            <i>{{ n.creator }} - {{ n.dateCreation | date: 'dd/MM/yyyy'}}</i>
                        </div>             
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="informacije" role="tabpanel" aria-labelledby="informacije-tab">
            <div class="mx-auto d-flex justify-content-center" style="max-width: 600px;">
                <table class="table table-white text-center">
                    <tr>
                        <td> Tip:</td>
                        <td><i>{{ subject.type }}</i></td>
                    </tr>
                    <tr>
                        <td> Semestar:</td>
                        <td><i>{{ subject.semestar }}</i></td>
                    </tr>
                    <tr>
                        <td> Odsek:</td>
                        <td><i>{{ subject.department }}</i></td>
                    </tr>
                    <tr>
                        <td> Sifra predmeta:</td>
                        <td><i>{{ subject.code }}</i></td>
                    </tr>
                    <tr>
                        <td> Fond:</td>
                        <td><i>
                            Predavanja: {{ subject.fondLecture }}
                            <br/><br/>
                            Vezbe: {{ subject.fondExercise }}
                            <br/><br/>
                            Laboratorijske vezbe: {{ subject.fondLab }}
                        </i></td>
                    </tr>
                    <tr>
                        <td> Espb:</td>
                        <td><i>{{ subject.espb }}</i></td>
                    </tr>
                    <tr>
                        <td> Cilj i ishod:</td>
                        <td><i>{{ subject.goal }}</i></td>
                    </tr>
                    <tr>
                        <td> Termini predavanja:</td>
                        <td><i>
                            <span *ngFor="let t of subject.classTime">
                                {{ t }}h <br/><br/>
                            </span>
                        </i></td>
                    </tr>
                    <tr>
                        <td> Termini vezbi:</td>
                        <td><i>
                            <span *ngFor="let t of subject.excerciseTime">
                                {{ t }}h <br/><br/>
                            </span>
                        </i></td>
                    </tr>
                    <tr>
                        <td> Predavaci:</td>
                        <td><i>
                            <span *ngFor="let e of employees" (click)="open(e)">
                                {{ e.firstName }} {{ e.lastName }}<br/><br/>
                            </span>
                        </i></td>
                    </tr>
                    <tr *ngIf="subject.hasLab">
                        <td> Broj laboratorijskih vezbi:</td>
                        <td><i>{{ subject.lab.numberOfLabs }}</i></td>
                    </tr>
                    <tr >
                        <td> Propozicije:</td>
                        <td><i>{{ subject.propositions }}</i></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="predavanja" role="tabpanel" aria-labelledby="predavanja-tab">
            <div class="card-body pb-0">
                <div *ngFor="let s of subject.lectureMaterials">
                    <a class="link" (click)="download(s.file)">{{ s.file }}</a>
                </div>
          </div>
        </div>

        <div class="tab-pane fade" id="vezbe" role="tabpanel" aria-labelledby="vezbe-tab">
            <div class="card-body pb-0">
                <div *ngFor="let s of subject.exerciseMaterials">
                    <a class="link" (click)="download(s.file)">{{ s.file }}</a>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="ispit" role="tabpanel" aria-labelledby="ispit-tab">
            <h6 class="text-center my-3">Tekstovi ispitnih rokova i kolokvijuma</h6>
            <div *ngFor="let s of subject.examMaterials.examText">
                <a class="link" (click)="download(s.file)">{{ s.file }}</a>
            </div>
            <h6 class="text-center my-3">Resenja ispitnih rokova i kolokvijuma</h6>
            <div *ngFor="let s of subject.examMaterials.examSolution">
                <a class="link" (click)="download(s.file)">{{ s.file }}</a>
            </div>
        </div>
        
        <div class="tab-pane fade" id="lab" role="tabpanel" aria-labelledby="lab-tab">
            <div class=" text-center my-3">
                {{ subject.lab.basicInfo }} <br/>
                Broj laboratorijskih vezbi: {{ subject.lab.numberOfLabs }}
            </div>
            
            <div class="mx-auto d-flex justify-content-center" style="max-width: 600px;">
                <table class="table table-white text-center">
                    <thead>
                        <tr>
                            <th>Broj vezbe</th>
                            <th>Informacije</th>
                            <th>Materijali za pripremu laboratorijske vezbe</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let l of subject.lab.labDetails; index as i">
                        <td>
                            {{ i + 1 }}.
                        </td>
                        <td>
                            {{ l.description }}
                        </td>
                        <td>                    
                            <div *ngFor="let s of l.materials">
                                <a class="link" (click)="download(s.file)">{{ s.file }}</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="projekat" role="tabpanel" aria-labelledby="projekat-tab">
            <div class="mx-auto d-flex justify-content-center" style="max-width: 600px;">
                <table class="table table-white text-center">
                    <thead>
                        <tr>
                            <th>Informacije</th>
                            <th>Opis</th>
                            <th>Materijali potrebni za izradu</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let p of subject.project.projects">
                        <td>
                            {{ p.basicInfo }}
                        </td>
                        <td>
                            {{ p.description }}
                        </td>
                        <td>                    
                            <div *ngFor="let m of p.projectMaterials">
                                <a class="link" (click)="download(s.file)">{{ s.file }}</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="spiskovi" role="tabpanel" aria-labelledby="spiskovi-tab">
            <div class="mx-auto d-flex justify-content-center">
                <table class="table table-white text-center">
                    <thead>
                        <tr>
                            <th>Naziv</th>
                            <th>Termin</th>
                            <th>Mesto</th>
                            <th>Rad</th>                
                            <th></th>  
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of lists; let i = index">
                            <td>
                                {{list.title}}
                            </td>
                            <td>
                                {{list.time}}
                            </td>
                            <td>
                                {{list.place}}
                            </td>
                            <td>
                                <div class="form-group input-group">                    
                                    <input type="file" class="custom-file-input form-control" name="uploadedFile"
                                        (change)="onFileChange($event)" #UploadFileInput>
                                    <div class="input-group-append">
                                        <label class="custom-file-label">{{fileName || 'Izaberite fajl'}}</label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button (click)="addFile(list)" type="button" class="btn btn-secondary mx-2">
                                    Posalji rad
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>