<h3 class="mt-4 text-center">
    Istraživanja
</h3>
<div class="container mb-4">    
    <br/><br/>
    Članci o računarskoj tehnici i informatici (enciklopedija):
    <div class="pl-3" style="margin-top: -20px;">
        <br/> 
        <a href="https://sr.wikipedia.org/wiki/%D0%98%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%82%D0%B8%D0%BA%D0%B0">Vikipedija: Informatika</a> 
        <br/> 
        <a href="https://www.britannica.com/science/computer-science">Britannica: Computer Science</a> 
        <br/> 
        <a href="http://www.encyclopedia.com/topic/Computer_science.aspx">Encyclopedia: Computer science</a> 
    </div>       

    <br/><br/>
    Elektronsko poslovanje:
    <div class="pl-3" style="margin-top: -20px;">
        <br/> 
        <a href="http://rti.etf.bg.ac.rs/rti/ebi/projects/search/search.html">Genetic Search</a>
        <br/> 
        <a href="http://rti.etf.bg.ac.rs/rti/ebi/projects/proxy/proxy.html">Proxy Caching</a> 
        <br/> 
        <a href="http://rti.etf.bg.ac.rs/rti/ebi/webp.html">Advanced WEB Programming</a> 
        <br/> 
        <a href="http://rti.etf.bg.ac.rs/rti/ebi/webdesign.html">WEB Design</a> 
        <br/> 
        <a href="http://rti.etf.bg.ac.rs/rti/ebi/ibc/ibc.htm">Internet u poslovnoj komunikaciji</a> 
    </div> 

    <br/><br/>
    Tekstovi o računarskim naukama:
    <div class="pl-3" style="margin-top: -20px;">
        <br/> 
        <a href="https://www.cambridge.org/core/series/cambridge-computer-science-texts/CCDECFF0608D8A8770C9095592B1AD53">Cambridge computer science texts</a>
        <br/> 
        <a href="http://textbookrevolution.org/index.php/Book:Lists/Subjects/Computer_Science">Textbook Revolution: Computer Science</a>
        <br/> 
        <a href="http://www.nap.edu/topics.php?topic=279">National Academies Press: Computers and Information Technology</a> 
        <br/> 
        <a href="http://en.wikibooks.org/wiki/Subject:Computer_science">Wikibooks: Computer Science</a>
        <br/> 
        <a href="http://www.openculture.com/free-computer-science-textbooks">Open Culture: Free Textbooks: Computer Science</a> 
    </div> 

</div>