<div class="container">
    Katedra za računarsku tehniku i informatiku ima kao generalni cilj savremenu i 
    vrhunsku edukaciju u oblasti računarstva, u skladu sa savremenim evropskim i 
    svetskim trendovima, preporukama i standardima, te kreiranje, primenu i širenje 
    novih znanja kroz naučno-istraživački rad, saradnju sa privrednim subjektima i 
    drugim institucijama na razvojnim i primienjenim projektima, a u skladu sa 
    potrebama društvene zajednice. Specifični cilj studijskog programa Računarstvo 
    i informatika je da studenti, pored osnovnih znanja iz oblasti elektrotehnike, 
    steknu teoretska znanja i praktične veštine iz sledećih oblasti informacionih 
    tehnologija, softverskog i računarskog inženjeringa: teoretske osnove računarstva, 
    principi programiranja, arhitektura računara, operativni sistemi, 
    objektno-orijentisano i Web/Internet programiranje, sistemi sa bazama podataka, 
    razvoj, implementacija i verifikacija računarski baziranih sistema, 
    računarske mreže i paralelni sistemi, sigurnost računarskih sistema, 
    razvoj periferijskih interfejsa, softversko/hardversko održavanje i 
    administracija računarskih sistema itd. Sticanjem navednih znanja i 
    veština studenti treba da budu osposobljeni za brzo i uspešno uključivanje 
    na konkretne projekte i radne zadatke iz oblasti informaciono-komunikacionih 
    tehnologija na radnim mestima na kojima se zapošljavaju.
</div>
